.description-area{
    alignment: right;
    align:right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.second-layout{
    height: 100%;
//   width="100%"
}

.second-layout>.z-hlayout-inner:first-child{

    width: 40%;
    height: 100%;
    display:inline-block;

}
.second-layout>.z-hlayout-inner:last-child{
    width: 60%;
    height: 100%;
    display:inline-block;

}

@media screen and (max-width: 1024px) {
    .second-layout>.z-hlayout-inner:first-child{
        width: 100%;
        height: 50%;
        display:block;

    }
    .second-layout>.z-hlayout-inner:last-child{
        width: 100%;
        height: 50%;
        display:block;

    }
}

.ibloc>z-hlayout-inner:only-child{
    display: inline-block;
}

.first-layout{
    height: 100%;
//   width="100%"
}

.first-layout>.z-hlayout-inner:first-child{
    width: 48%;
    height: 100%;
    display:inline-block;

}
.first-layout>.z-hlayout-inner:nth-child(2){
    width: 5%;
    height: 100%;
    display:inline-block;

}

.first-layout>.z-hlayout-inner:last-child{
    width: 47%;
    height: 100%;
    display:inline-block;

}

@media screen and (max-width: 1024px) {
    .first-layout>.z-hlayout-inner:first-child{
        width: 100%;
        height: 45%;
        display:block;

    }
    .first-layout>.z-hlayout-inner:nth-child(2){
        width: 100%;
        height: 10%;
        display:block;

    }

    .first-layout>.z-hlayout-inner:last-child{
        width: 100%;
        height: 45%;
        display:block;

    }
}

.button2{border:none;color:#222;font-weight:normal;background:#e9e9e9;border-radius: 0;}